html, body, button, div, input, textarea {
  padding: 0px;
  margin: 0px;
  border: none;
  background-color: #282c34;

  outline: none;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  font-family: Tahoma;
  font-size: 24px;
  color: #fff;

  display: block;
}

textarea {
    font-size: 18px;
    color: #e5c07b;
}

input[type="submit"]:hover {
  color: #e06c75;
}
