{% extends 'base.html' %}

{% block title %}
traid_view
{% endblock %}

{% block head %}
<script src="static/js/seed.js"></script>
<script src="static/js/ext/d3.js"></script>
<link href="static/css/seed.css" rel="stylesheet">
{% endblock %}
{% block content %}
<input type="text">

</input>
<script>
var structureReadyEvent = new CustomEvent('structure.ready', {
	detail: {},
	bubbles: false,
	cancelable: false,});

document.dispatchEvent(structureReadyEvent);
</script>
{% endblock %}

{% block footer %}
{% endblock %}
