{% extends 'base.html' %}

{% block title %}traid_view{% endblock %}
{% block head %}
<link href="favicon.ico?v=1.0" rel="icon" type="image/x-icon">
<link href="static/css/seed.css" rel="stylesheet">
<script src="static/js/seed.js"></script>
<script src="static/js/ext/d3.js"></script>
{% endblock %}
{% block content %}
<form name="action_requestor" action=""
        onsubmit="event.preventDefault(); request_action();">
    <textarea name="action" rows="10" cols="50">{{sample}}</textarea>
    <input type="submit" name="request" value="request">
</form>
<script>
var structureReadyEvent = new CustomEvent('structure.ready', {
        detail: {},
        bubbles: false,
        cancelable: false,});

document.dispatchEvent(structureReadyEvent);
</script>
{% endblock %}

{% block footer %}
{% endblock %}
