{% extends 'base.html' %}

{% block title %}traid_view{% endblock %}

{% block head %}
    <link href="favicon.ico?v=1.0" rel="icon" type="image/x-icon">
    <link href="static/css/seed.css" rel="stylesheet">
    <script src="static/js/ext/jinja.js"></script>
    <script src="static/js/seed.js"></script>
{% endblock %}

{% block content %}
    {% include 'grid.html' %}
    {% include 'settings.html' %}
    <script>
        var structureReadyEvent = new CustomEvent('structure.ready', {
                detail: {},
                bubbles: false,
                cancelable: false,});

        document.dispatchEvent(structureReadyEvent);
    </script>
{% endblock %}

{% block footer %}
{% endblock %}
